<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4 py-2 sticky-top custom-navbar">
  <a class="navbar-brand d-flex align-items-center" href="#home">
    <img src="assets/logo.png" alt="Jai Fresh Logo" class="me-3 logo-img animate-logo" />
    <span class="fw-bold fs-4 brand-text">Jai Fresh Exports</span>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navMenu">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link nav-underline" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-underline" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-underline" href="#products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-underline" href="#blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-underline" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
