body, html {
  cursor: pointer;/* You can add global styles to this file, and also import other style files */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7px; /* more space than header height */
}

section {
  scroll-margin-top: 70px;
}

/* For tablets */
@media (max-width: 1024px) {
  html {
    scroll-padding-top: 90px;
  }
  section {
    scroll-margin-top: 60px;
  }
}

/* For mobile phones */
@media (max-width: 768px) {
  html {
    scroll-padding-top: 80px;
  }
  section {
    scroll-margin-top: 80px;
  }
}
